# C++ Compiled files
*.o
*.out
*.exe
*.so
*.dll

# CMake build directory
build/

# Eclipse project files
.project
.cproject
.settings/

# Code::Blocks
*.depend
*.layout
bin/
obj/

# Visual Studio Code
.vscode/

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python Distribution / packaging
dist/
build/
*.egg-info/

# Python Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Python Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Python Translations
*.mo

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Django VS Code .vscode
.vscode/

# User-specific files
*.rsuser
*.pyc
*.pyo
*.pyd
*.bak
*.swp
*~

# pyInstaller
dist/
__pycache__/

